body{
    
    text-align: center;
    background: linear-gradient(to right, red, yellow);
}

h1{
    font: 600 3.5em 'raleway', sans-Serif;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

h3{
    font: 900 1.5em 'raleway', sans-Serif;
    color: rgba(0, 0, 0, .5);
}